@@font-face {
  font-family: 'Roboto';
  src: url(C:\Users\maksim\Desktop\covid\covid-dashboard\public/03523cf578d69fa923226ff457b92d90.ttf) format('truetype');
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.header {
  display: flex;
  align-items: center;
  background: #2c3e50;
  height: 50px;
}
.header__title {
  color: #bdc3c7;
  padding-left: 10px;
  margin: 0;
}

.data-article {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  width: 22%;
  margin-right: 5px;
}
.data-article .global-case-counter {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2c3e50;
  margin-bottom: 5px;
}
.data-article .global-case-counter .description {
  color: #bdc3c7;
}
.data-article .global-case-counter .counter {
  font-size: 20px;
  color: #e74c3c;
}
.data-article .data-search {
  margin-bottom: 5px;
}
.data-article .data-countries {
  overflow: auto;
  background: #2c3e50;
}
.data-article .card {
  display: flex;
  justify-content: space-between;
  padding: 9px 5px;
  border-bottom: 1px solid silver;
}
.data-article .card__cases {
  margin-left: 2px;
  color: #e74c3c;
}
.data-article .card__country {
  margin-left: 5px;
  cursor: pointer;
  color: #bdc3c7;
}
.data-article .card__flag {
  width: 20px;
}
.data-article .card .small {
  font-size: 13px;
}
.data-article .choice-indicator {
  margin-bottom: 5px;
  width: 100%;
}

.map {
  width: 100%;
  height: 100%;
  background: #2c3e50;
  border: 2px solid red;
  margin-bottom: 5px;
}

.wrapper {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper__inner {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-statistics {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  height: 100%;
  border: 1px solid silver;
  background: #2c3e50;
  color: #bdc3c7;
  overflow: auto;
}
.data-statistics .statistics-CONT,
.data-statistics .statistics-RONT,
.data-statistics .statistics-DONT {
  font-size: 12px;
  display: flex;
}
.data-statistics .statistics,
.data-statistics .statistics-country {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #bdc3c7;
}
.data-statistics div:nth-last-child(-n+3):after {
  top: 32px;
}
.data-statistics .statistics-desc {
  color: #3498db;
}

.schedule-main {
  width: 50%;
}
.schedule-main .control-buttons {
  display: flex;
  justify-content: space-around;
}
.schedule-main .chart-container {
  width: 100%;
}

canvas {
  max-width: 420px;
  margin: 0 auto;
}
